* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   background-color: rgb(29, 26, 26);
   display: flex;
   justify-content: center;
}

main {
   margin-top: 10%;
   width: 100%;
   text-align: center;
}

main > img {
   width: 300px;
}

.search-content {
   width: 80%;
   max-width: 600px;
   background-color: transparent;
   border: 1px solid white;
   margin: 20px auto;
   border-radius: 20px;
   align-items: center;
   height: auto;
}

.search-content img{
   width: 20px;
}

.search-content.active{
   border: 1px solid rgb(49, 47, 47);
   background-color: rgb(49, 47, 47);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
   max-height: 600px;
}

.search-content:hover{
   border: 1px solid rgb(49, 47, 47);
   background-color: rgb(49, 47, 47);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
}

.search-bar {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 8px;
}

.search-bar input {
   width: calc(95% - 40px);
   outline-style: none;
   background-color: transparent;
   border: none;
   color: white;
   font-size: 1.05em;
}
.search-bar input::-webkit-search-cancel-button {
   appearance: none;
   cursor: pointer;
   width: 10px;
   height: 10px;
   background-image: url(../images/cancel.svg);
   background-size: 90%;
   background-origin: content-box;
   background-repeat: no-repeat; 
   padding-left: 5px;
   padding-top: 1px;
   border-left: 1px solid white;
   
}

.search-bar img[alt=search]{
   cursor: pointer;
}

.history.off {
   display: none;
}
.history .link{
   display: flex;
   justify-content: space-between;
   width: 100%;
   color: white;
   padding: 8px 10px;
   text-align: justify;
   word-wrap: break-word;
}
.history .link:hover{
   background-color: rgb(66, 61, 61);
}
.history .link:hover:last-child{
   border-radius: 0 0 20px 20px ;
}
.history .link p{
   cursor: pointer;
   max-width: 90%;
   width: 90%;
   font-size: 1.001em;
}
.history .link img{
   width: 15px;
   margin-right: 19px;
}
.history .link button{
   background-color: transparent;
   border: none;
   color: blueviolet;
   margin-left: 10px;
   font-size: 1em;
   cursor: pointer;
}